{% extends 'base.html.twig' %}

{% block title %}Fun Tricks!{% endblock %}

{% block body %}
  <div class="container-fluid ct-header" >
    <div class="img-header mx-auto offset-md-3 col-12 text-center pt-5 pb-5">
      <h1 class="col">SNOWTRICKS</h1>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid mb-5">

      <div class="container d-flex col-12">
        <div class="mx-auto offset-md-3 col-8 text-center pt-5 pb-5">
          <h2 class="col">Espace communautaire pour apprendre, partager, discuter sur la discipline du snowboard</h2>
        </div>
      </div>
  </div>


  <div class="container">
    <div class="row">
        {% for trick in tricks %}
    <!-- mettre la boucle for pour afficher les articles en BDD-->
      <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card col-md-12 p-0">
          {% for image in trick.image %}
            {# display only the first image #}
            {% if loop.index == 1 %}
              <img alt="{{ image.name }}" src="{{ asset('uploads/images/') ~ image.name }}"/>
            {% endif %}
          {% else %}
              <img class="card-img-top" src="{{ asset('dist/picture/no-image.jpeg') }}" alt="Card image cap">
          {% endfor %}
          <div class="card-body">
            {# A ajouter: visible que si connecté #}
            {% if app.user.email is defined and trick.author.email == app.user.email or is_granted('ROLE_ADMIN') %}
              <div class="icon offset-10 col-2">
                <a href="{{ path('trick_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                <a href="{{ path('trick_delete', {'id': trick.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            {% endif %}
            <h4 class="card-title">{{ trick.name|capitalize }}</h4>
            <div class="metadata text-muted small"> Ecrit le {{ trick.createdAt|date('d/m/Y') }}</div>
            <p class="card-text">{{ trick.description|capitalize }}</p>
              <h6>{{ trick.author.username }}</h6>

            <!-- renvoyer l'id trick path 'nom de la route', {param ID}) }} -->
            <div class="col-12">
              <div class="mt-2"><a type="button" class="btn btn-primary" href="{{ path('trick_show',{'id': trick.id}) }}">En savoir plus</a></div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
      <!-- balise fermeture boucle -->
      <div class="col offset-10 col-sm-2 mt-4"><a type="button" class="btn btn-light" href="{{ path('trick_index') }}">Plus de tricks --></a></div>
    </div>

  </div>

{% endblock %}
