{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block monTitre %}<h1>Inscription</h1>{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="img-header mb-3 font-weight-normal">Inscription</h2>
        {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {#{{ form_row(registrationForm.avatar) }}#}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.RGPD) }}

            <button type="submit" class="btn btn-primary">Enregistrement</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
