{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <div class="container">
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

        <h1 class="m-2">Modifier une figure</h1>
        {{ form_start(form) }}

        {{ include('trick/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        {{ include('trick/_delete_form.html.twig') }}

        <a href="{{ path('trick_index') }}" class="btn btn-outline-secondary m-2" >Retour à la liste</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
