{% extends 'base.html.twig' %}

{% block title %}Liste de Trick{% endblock %}

{% block body %}

    <div class="container">
        <h1>Liste</h1>
        <div class="row">
            {% for trick in tricks %}
                <!-- mettre la boucle for pour afficher les articles en BDD-->
                <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card col-md-12 p-0">
                        <img class="card-img-top" src="https://picsum.photos/400/301" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{ trick.name }}</h4>
                            <div class="metadata text-muted small"> Ecrit le {{ trick.createdAt |date('d/m/Y') }}</div>
                            <p class="card-text">{{ trick.description }}</p>
                            <h6>{{ trick.author.username }}</h6>

                            <!-- renvoyer l'id trick path 'nom de la route', {param ID}) }} pour trick_show -->
                            <a href="{{ path('trick_show',{'id': trick.id}) }}" class="btn btn-primary btn-card stretched-link">En savoir plus</a>
                           <div> <a href="{{ path('trick_new') }}" class="btn btn-dark">Créer nouveau trick</a>
                           <p>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                           </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>No record found</p>
            {% endfor %}
            <!-- balise fermeture boucle -->
        </div>

    </div>

{% endblock %}
