{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}

    <div class="container">
        <section class="text-center">

            <h1>Figure: {{ trick.name }}</h1>

                <img src="https://picsum.photos/800/365" alt="img card"/>
                {% for image in trick  %}
                <img src="{{ image.trick }}"/>
                {% endfor %}
            <div class="d-flex flex-row offset-2">

                <div class="p-2"><span class="badge bg-secondary">{{ trick.category.name }}</span></div>
                <div class="p-2"><p>Ecrit le <small>{{ trick.createdAt ? trick.createdAt|date('d-m-Y') : '' }}</small></p></div>
            </div>
            <h3> {{ trick.description }}</h3>

            <p>écrit par: {{ trick.author.username }}</p>

        </section>
            <div class="d-flex row">
                <div class="row p-3"><a href="{{ path('trick_index') }}" class="btn btn-outline-dark">Retour à la liste</a></div>

                <div class="row p-3"><a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-warning">Modifier</a></div>
            </div>

            {{ include('trick/_delete_form.html.twig') }}
    </div>

{% endblock %}
