{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}

    <div class="container">
        <section class="text-center">

            <h1><a class="trick-title" href="{{ path('trick_index') }}">{{ trick.name| capitalize}}</a></h1>

                <img src="https://picsum.photos/800/365" alt="img card"/>

                {% for image in trick  %}
                    <img src="{{ image.trick }}"/>
                {% endfor %}

            <div class="d-flex flex-row offset-2">
                <div class="p-2"><span class="badge bg-secondary">{{ trick.category.name|capitalize }}</span></div>
                <div class="p-2"><p>Ecrit le <small>{{ trick.createdAt ? trick.createdAt|date('d-m-Y') : '' }}</small></p></div>
            </div>

            <h3> {{ trick.description|capitalize }}</h3>

            <p>écrit par: {{ trick.author.username|capitalize }}</p>

        </section>
            <div class="show-button">
                <div class="p-2"><a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-warning">Modifier</a></div>

                {{ include('trick/_delete_form.html.twig') }}

                <div class="p-2"><a href="{{ path('trick_index') }}" class="btn btn-outline-dark">Retour à la liste</a></div>
            </div>

    <section class="comment bg-light">
        <div class="divider">Commentaires</div>
        {{ form_start(form) }}
        {{ form_row (form.author) }}
        {{ form_row(form.content) }}

    </section>


    </div>

{% endblock %}
