{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <div class="container showTricks" style="background-color: #ffffff; opacity: 0.98;border-radius: 9px">
        <section class="text-center">

            <h1><a class="trick-title" href="{{ path('trick_index') }}">{{ trick.name| capitalize }}</a></h1>

            <!--<img src="https://picsum.photos/800/365" alt="img card"/>-->

            {% for image in trick.image %}
                <img src="{{ asset('uploads/images/') ~ image.name}}" alt= "{{ image.name }}" />
            {% endfor %}

            <div class="d-flex flex-row offset-2" >
                <div class="p-4 m-2"><span class="badge bg-secondary">{{ trick.category.name|capitalize }}</span></div>
                <div class="p-4 m-2">
                    <p>Ecrit le
                        <small>{{ trick.createdAt ? trick.createdAt|date('d-m-Y') : '' }}</small>
                    </p>
                </div>
            </div>
            <!-- https://www.youtube.com/embed/Opg5g4zsiGY -->
            <div class="embed-responsive embed-responsive-16by9">
                {% for video in trick.video %}
                <iframe class="embed-responsive-item" src="{{ video.url }}" title="YouTube video player"></iframe>
                {% endfor %}
            </div>


            <h3> {{ trick.description|capitalize }}</h3>

            <p>écrit par: {{ trick.author.username|capitalize }}</p>

        </section>
         {% if app.user.email is defined
             and trick.author.email ==  app.user.email
             or is_granted('ROLE_ADMIN') %}
        <div class="show-button">
            <div class="p-2"><a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-warning">Modifier</a>
            </div>

            {{ include('trick/_delete_form.html.twig',{'button_label':'supprimer'}) }}
            {% endif %}
            <div class="p-2"><a href="{{ path('trick_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
            </div>
        </div>

        <section class="comment bg-light p-3">
            <div class="container offset col-6">
                <h3>Commentaires</h3>
                {% for comment in trick.comments %}
                    <div class="container">
                        <div class="row">
                            <span class="col-5">
                                {% if comment.author.avatar is empty %}
                                    <img class=" rounded-circle avatar-img" src="{{ asset('dist/picture/avatardefault9.png') }}"
                                 alt="Default Avatar picture">
                            </span>
                            {% else %}
                                <p class="col-1">
                                    <img class=" img-fluid avatar-img" src="{{ asset('uploads/images/') ~ comment.author.avatar }}" alt="avatar picture"/>
                                </p>
                            {% endif %}

                            <p class="col-2"> {{ comment.author }}</p>
                            <p class="col-2"> {{ comment.createdAt|date('d-m-Y H:i') }}</p>
                            <p class="col-4">{{ comment.content }}</p>
                            <span class="col-3">
                                {% if app.user.email is defined and comment.author.email == app.user.email or is_granted('ROLE_ADMIN') %}
                            <div class="icon offset-10 col-2 md-3">
                                <a href="{{ path('comment_edit', {'id': comment.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                <a href="{{ path('comment_delete', {'id': comment.id}) }}"
                                   type="submit"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <p>Pas de commentaire. Sois le premier à réagir!</p>
                {% endfor %}

                {% if app.user.email is defined %}

                {{ form_start(formComment) }}

                {{ form_row(formComment.content) }}
                <div class="d-none">
                    {{ form_row(formComment.author) }}
                </div>

                <button type="submit" class="btn btn-success">Ajouter</button>

                {{ form_end(formComment) }}
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-light-blue me-3" type="button">
                        <i class="fas fa fa-user"></i> Entrez un commentaire
                    </a>

                {% endif %}
            </div>

        </section>


    </div>

{% endblock %}
