{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container" style="background-color: white">
    <h1>Profil Utilisateur</h1>
    <table class="table">
        <tbody>

            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><p class="col-5">
                        <img class=" img-fluid avatar-img" src="{{ asset('uploads/avatars/') ~ user.avatar }}" alt="avatar picture"/>
                    </p></td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>


    <div class="p-2">
        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-dark">Modifier</a>
    </div>

    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
